body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  /* Will apply to all elements, keeps elements in line */
  box-sizing: border-box;
}